.wrapper {
  max-width: 70rem;
  margin: 2rem 0 50px 0;
  padding: 0 1rem;
  
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 2rem;
  align-items: center;
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}