.header {
  display: flex;
  align-items: center;
  background: var(--gray-800);
  padding: 1.25rem 0;
  align-items: center;
  margin-bottom: 100px;

}

.header img {
  position: relative;
  left: 100px;
  width: 8rem;
  height: 8rem;

}

header img:hover {
  box-shadow: 0 0 2em purple;
  border-radius: 50%;
}

header h1 {
  color: var(--violet-200);
  position: relative;
  left: 400px;
  font-size: 40px;
}

header h1:hover {
  transition: 0.75s;
  color: var(--violet-600)
}

.header > div {
  position: relative;
  left: 550px;
  width: 250px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

a {
  color: var(--violet-500);
  text-decoration: none;
}

a:hover {
  transition: 0.75s;
  color: var(--violet-600);
  text-decoration: none;
}

.containerImg:focus {
  outline: transparent;
  box-shadow: none;
}