.header {
  display: flex;
  align-items: center;
  background: var(--gray-800);
  padding: 1.25rem 0;
  align-items: center;

}

.header img {
  position: relative;
  left: 100px;
  width: 8rem;
  height: 8rem;
}

header h1 {
  position: relative;
  left: 400px;
  font-size: 40px;
}

.header > div {
  position: relative;
  left: 550px;
  width: 250px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}