.containerCarousel {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-items: center;
  height: 37.5rem;
  width: 37.5rem;
}

  .items-wrapper{
    width: 100%;
  }

  
  .items{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  .item{
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  